:root {
  --primary: #4f8ef7;
  --primary-hover: #3a75d8;
  --success: #4caf50;
  --background: #1f1f1f;
  --input-background: #222;
  --background-hover: #555;
  --border: #555;
  --text-light: #f0f8ff;
  --text-grey: #aaa;
  --text-muted: #ddd;
  --accent: #80b3ff;
  --button-background: #007bff;
  --button-hover: #0056b3;
  --white: #fff;
}
